.main-container {
    height: calc(100vh - 56px - 24px - 24px);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    flex-wrap: wrap;
    
}

.blured {
    transition:0.2s;
    -webkit-filter: blur(2px) brightness(50%);
    filter: blur(2px) brightness(50%);
    /* filter: brightness(50%); */
}


.main-header {
    height: 64px;
    background-color: #E6F2FF;
    
}

.main-header-container {
    height: 64px;
    display: grid;
    grid-template-columns: 200px auto 100px;
    margin-top: 4px;
    
}

.main-header-item {
    display: flex;
    align-items: center;
    
}

.main-header-item-text {
    height: 56px;
}

.main-header-item-add-btn {
    grid-column-start: 3;
    grid-column-end: 4;
    align-items: center;
}

.main-tbl {
    height: calc(100vh - 64px - 24px - 24px - 56px);
}

.main-tbl-container {
    height: calc(100vh - 64px - 24px - 24px - 56px);
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 56px auto 56px;
}

.main-tbl-container-header {
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 200px auto 80px 8px 80px 8px 36px 8px 36px 8px;
}

.mtcf-item {
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
}

#mtch-item1 {
    
    grid-column-start: 1;
    grid-column-end: 2;
}

#mtch-item2 {
    margin-top: 10px;
    grid-column-start: 3;
    grid-column-end: 4;
}
#mtch-item3 {
    margin-top: 10px;
    grid-column-start: 5;
    grid-column-end: 6;
}

#mtch-item4 {
    margin-top: 10px;
    grid-column-start: 7;
    grid-column-end: 8;
}

#mtch-item5 {
    margin-top: 10px;
    grid-column-start: 9;
    grid-column-end: 10;
}

.main-tbl-container-tbl {
    margin-left: 12px;
    margin-right: 8px;
    grid-row-start: 2;
    grid-row-end: 3;
    height: calc(100%);
    
}

.main-tbl-container-footer {
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 100px auto 120px 56px 36px 40px;
}

#mtcf-item1 {
    margin-left: 12px;
    grid-column-start: 1;
    grid-column-end: 2;
}

#mtcf-item2 {
    text-align: right;
    grid-column-start: 3;
    grid-column-end: 4;
}

#mtcf-item3 {
    grid-column-start: 4;
    grid-column-end: 5;
}

#mtcf-item4 {
    grid-column-start: 5;
    grid-column-end: 6;
    padding-bottom: 0;
}

#mtcf-item5 {
    grid-column-start: 6;
    grid-column-end: 7;
    padding-bottom: 0;
}



.crud-containers {
    margin-left: 16px;
    display: inline;
}

.crud-btn {
    height: 32px;
}

.numpage-form select {
    border: none;
}

.department-form select {
    font-family: var(--base-fontfamily);
    font-weight: var(--heading3-weight);
    font-size: var(--heading3-size);
    line-height: var(--heading3-lineheight);
    letter-spacing: var(--heading3-letterspacing);
    border: none;
}


