.form-container {
    width: 400px;
    padding: 32px 0;
}

.employee-form {
    grid-template-rows: 300px 300px 300px;
    margin-top: 32px;
}

.form-actions {
    margin-top: calc(32px - 24px);
    grid-column-start: 4;

}

.form-group {
    display: grid;
    grid-template-rows: auto 36;
    grid-row-gap: 8px;
    max-width: 200px;
    
}

.form-group > label {
    font-family: var(--base-fontfamily);
    font-weight: var(--heading3-weight);
    font-size: var(--heading3-size);
    line-height: var(--heading3-lineheight);
}

.form-group > input {
    height: 36px;
    width: 175px;
    padding: 0 8px;
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
}

.form-group > select {
    height: 36px;
    max-width: 175px;
    padding: 0 8px;
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
}

.cancel-button {
    color: var(--gray-300);
    background-color: white;
}

.bigger-form-group {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 175px auto;
    grid-column-gap: 24px;
    grid-row-gap: 8px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }