.popup-form {
    position: absolute;
    top: 10%;
    left: calc( (100% - 900px) / 2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.form-container {
    width: 900px;
    padding: 24px 24px;
    background-color: white;

}

.form-heading {
    display: grid;
    grid-template-columns: 200px auto 36px;
}

.close-form {
    grid-column-start: 3;
}


.form-title {
    margin-bottom: 8px;
}



.form-control {
    /* height: 100%; */
    width: 100%;
    margin-top: 24px;
}

.employee-form {
    /* height: 100%; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 12px;
    row-gap: 12px;
}

.form-action {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    padding: 12px 24px;
    background-color: var(--grey-300);
}

.cancel-btn {
    background-color: white;
    color: black;
    border: 0.5px solid var(--grey-300);

}

.transperency-btn1 {
    order: -1;
}

.star {
    color: red;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tab {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.field-box {
    height: 36px;
    /* width: 150px; */
    padding-left: 12px;
    padding-right: 8px;
    border-radius: 5px;
    border: 1px solid var(--grey-300);
    color: var(black);
}

.combobox {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background: white url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    position: relative;
    margin-top: 8px;
}

.combobox > option {
    height: 36px;    
}

.field-border {
    position: absolute;
    right: calc(44px + 35px);
    bottom: 0px;
    height: 36px;
    width: 1px;
    border-left: 1px solid var(--grey-300);

}

.field-box:focus {
    height: 36px;
    /* width: 200px; */
    padding-left: 12px;
    padding-right: 8px;
    border-radius: 5px;
    border: 1px solid var(--light-green-300);
}

.selection-container {
    position: relative;
}


.gender-options {
    display: flex;
    gap: 8px;
}

/* .hidden {
    display: none;
} */

.select-text {
    color: var(--light-green-300);
}

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.tab0 {
    display: flex;
    gap: 24px;
}



.form-code {
    grid-column-start: 1;
    grid-column-end: 3;
}

.form-name {
    grid-column-start: 3;
    grid-column-end: 5;
}

.form-dob {
    grid-column-start: 5;
    grid-column-end: 7;
}

.form-gender {
    grid-column-start: 7;
    grid-column-end: 9;
}

.form-position {
    grid-column-start: 1;
    grid-column-end: 5;
}

.fbp {
    width: 100%;
}

.field-border-p {
    right: 44px;
}

.form-id-number {
    grid-column-start: 5;
    grid-column-end: 7;
}

.form-id-date {
    grid-column-start: 7;
    grid-column-end: 9;
}

.form-department {
    grid-column-start: 1;
    grid-column-end: 5;

}

.form-id-place {
    grid-column-start: 5;
    grid-column-end: 9;

}

.form-address {
    grid-column-start: 1;
    grid-column-end: 9;

}

.form-mobile {
    grid-column-start: 1;
    grid-column-end: 3;
}

.form-phone {
    grid-column-start: 3;
    grid-column-end: 6;
}

.form-email {
    grid-column-start: 6;
    grid-column-end: 9;
}

.form-bank-account {
    grid-column-start: 1;
    grid-column-end: 3;
}

.form-bank-name {
    grid-column-start: 3;
    grid-column-end: 6;
}

.form-bank-branch {
    grid-column-start: 6;
    grid-column-end: 9;
}