.header-container {
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    
}

.header-left-side {
    width: 200px;
    height: 56px;
    display: grid;
    grid-template-columns: 56px auto;
    align-items: center;
}

.header-right-side {
    flex: 1;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    
}

.header-right-side-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 200px auto 220px;
    
}

.menu-btn {
    padding-left: 12px;
    padding-right: 12px;
}

.menu-logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cukcuk-logo {
    height: 90%;
    width: 90%;
    object-fit: contain;
}

.department-btn {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: center;
}

.profile {
    grid-column-start: 3;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 36px;
}

.profile-item {
    display: flex;
    align-items: center;
}

#profile-avatar {
   height: 36px;
   display: flex;
   align-items: center;
}

#option-btn {
    display: flex;
    align-items: center; 
}

#fullname {
    height: 36px;
    display: flex;
    align-items: center;

}